/*background of the page */
html{
    background-color: #fdfdfd;
    font-family: 'Lato', sans-serif;
}

/* adjusting the border and box shadow of images */
img {
    border: 4px black;
    box-shadow: 0 0 20px #00000066;
}

/* how buttons should appear in the page */
button {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2%;
   margin-bottom: 2%;
   border-radius: 10px;
   
}

/*setting the color of the top navigation bar + overflow */
.top-navigation-bar {
  background-color: #1a0033;
  overflow: hidden;
  
}

/* adjusting how the links appear in the top navigation bar */
.top-navigation-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* creating cards that contain my work samples */
.work-card {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

/*removing box shadow*/
.work-card:active{box-shadow: none;}

/* changing font in the card to create contrast with the title */ 
.work-card .class,
.work-card .work-info
{
  font-size: 13px;
  margin: 0;
}

/* changing font size in the card for the title to make it stand out */
.work-card .title{
  font-size: 16px;
}

/* changing color of the information font to create contrast */
.work-card .work-info
{
  color: #555;
}

/* adjusting the wireframe picture so it fits in the card */
.mock-up-pic {
  margin-top: 10px;
  width: 150px;
  height: auto;
}


/*adjusting the buttons to be as flex in order to have them be placed as a row */

.more-options-work-card {
  display: flex;

}

/* creating the button for the options to see more about the project as well as access it via a link */ 
.more-options-work-card button {
  font-family: 'Lato', sans-serif;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 0;
  background-color: rgba(155, 128, 215, 0.957);
}

/* when hovering you change color in order to create contrast */

.more-options-work-card button:hover {
  background-color: #ddd;
  box-shadow: none;
}


/* allowing the elements to align together in a column so they are displayed along the height of the card, as well
  in the middle, preserving the content size at 400px height and 300px width */
.work-card-elements {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  width: 300px;
  margin: 15px;
  padding: 15px;
  background-color: rgb(248, 196, 248);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #0003;
}

/* adjusting the gif to fit into the card */
.swarm-pic {
  width: 300px;
  height: auto;
}


/*creating the content, was originally supposed to be drop down, but fit more to be set as a row 
  with the original orientation of the cards. */

.dropdown-content, .dropdown-content-2 {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 300px;
  height: auto;
  align-self: center;
}

/* show the dropdown menu (using JavaScript to add this class to the .dropdown-content and .dropdown-content-2 
container when the user clicks on the dropdown button) */

.show {display:block;}